{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Guide</title>
    <meta name="description" content="A comprehensive guide to the startup ecosystem, featuring resources, programs, and insights to help entrepreneurs, investors, and innovators succeed. Discover startup opportunities, connect with the community, and grow your business.">
    <meta name="keywords" content="starup, startup guide, startup ecosystem, startup database">
    <meta name="author" content="Startup Guide">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://startupguide.uz/">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>