{% extends '_base.html' %}

{% load stage_tags %}

{% load i18n %}

{% block content %}

{% include 'includes/subnav.html' %}

{% include 'includes/notification.html'%}


<section class="section">
    <div class="blocks-container">
        <div class="main-block">
            <div class="list-items">
                {% if startups %}
                {% for startup in startups %}
                <div class="list-item-30">
                    <div class="list-item-main-block">
                        <h4 class="heading-semibold"> <a class="list-item-title" href="#">{{ startup.name }}</a></h2>
                            <p class="text-light">{{ startup.description }}</p>

                            {% if startup.website %}
                            <a class="list-item-link text-semibold" href="{{ startup.website }}">{{startup.website|truncatechars:25}}</a>
                            {% endif %}

                            <div class="list-item-links">
                                <a class="list-item-link text-semibold" href="#">{{ startup.country }}</a>

                                {% for target_audience in startup.target_audience.all %}
                                <a class="list-item-link text-semibold" href="#">{{ target_audience.audience }}</a>
                                {% endfor %}
                            </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="side-block">

            {% get_all_startup_categories as categories%}
            {% if categories%}
            <div class="filters-container">
                <h3 class="heading-semibold">{% trans 'Spheres'%}</h3>
                <ul class="filter-list">
                    {% for cat in categories %}
                    <li class="filter-item"><a class="text-light" href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% get_all_funding_stages as stages %}
            {% if stages %}
            <div class="filters-container">
                <h3 class="heading-semibold">{% trans 'Funding stages' %}</h3>

                <ul class="filter-list">
                    {% for stage in stages %}
                    <li class="filter-item"><a class="text-light" href="{{ stage.get_absolute_url }}">{{ stage.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% get_all_development_stages as stages %}
            {% if stages %}
            <div class="filters-container">
                <h3 class="heading-semibold">{% trans 'Development stages' %}</h3>

                <ul class="filter-list">
                    {% for stage in stages %}
                    <li class="filter-item"><a class="text-light" href="{{ stage.get_absolute_url }}">{{ stage.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
</section>

{% if startups.paginator.num_pages > 1 %}
<section class="section">
    <div class="pagination">
        {% if startups.has_previous %}
            <a href="?page={{ startups.previous_page_number }}">&#8592; {% trans 'Prev'%}</a>
        {% endif %}
            <span>{{ startups.number }} {% trans 'of'%} {{ startups.paginator.num_pages }}</span>
        {% if startups.has_next %}
            <a href="?page={{ startups.next_page_number }}">{% trans 'next' %} &#8594;</a>
        {% endif %}
    </div>
</section>
{% endif %}

{% endblock content %}