{% extends '_base.html' %}

{% load stage_tags %}

{% load i18n %}

{% block content %}

{% include 'includes/subnav.html' %}

{% include 'includes/notification.html'%}


<section class="section">
    <div class="blocks-container">
        <div class="main-block">
            <div class="list-items">
                {% if organization %}
                {% for organization in organizations %}
                <div class="list-item-50">
                    <div class="list-item-main-block">
                        <h4 class="heading-semibold"> <a class="list-item-title" href="#">{{ organization.name }}</a></h2>
                            <p class="text-light">{{ organization.description }}</p>

                            <!-- <p class="text-light">
                                <a class="list-item-link" href="#">2 deals</a>
                            </p> -->

                            {% if organization.funds %}
                                <p class="text-light">{{ organization.funds|humanize_currency:"USD" }}</p>
                            {% endif %}

                            {% if organization.website %}
                            <a class="list-item-link text-semibold" href="{{ investor.website }}">{{ organization.website}}</a>
                            {% endif %}
                            
                            <div class="list-item-links">
                                <a class="list-item-link text-semibold" href="#">{{ organization.investor_type }}</a>
                                <a class="list-item-link text-semibold" href="#">{{ organization.affiliation }}</a>
                                {% if organization.apply_link %}
                                <a class="list-item-link text-semibold" target="_blank"
                                    href="{{ investor.apply_link }}">Apply for support</a>
                                {% endif %}
                            </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="side-block">

            {% get_all_investor_types as types %}
            {% if types %}
            <div class="filters-container">
                <h3 class="heading-semibold">Type</h3>
                <ul class="filter-list">
                    {% for type in types %}
                    <li class="filter-item"><a class="text-light" href="#">{{ type }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- <div class="filters-container">
                <h3 class="heading-semibold">Investments</h3>
                <ul class="filter-list">
                    <li class="filter-item"><a class="text-light" href="#">50k-100k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">0-10k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">10k-50k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">100k-500k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">over 500k</a></li>
                </ul>
            </div> -->

        </div>
    </div>
</section>


{% endblock content %}