{% extends '_base.html' %}

{% load stage_tags %}

{% load i18n %}

{% block content %}

{% include 'includes/subnav.html' %}

{% include 'includes/notification.html'%}


<section class="section">
    <div class="blocks-container">
        <div class="main-block">
            <div class="list-items">
                {% if startups %}
                    {% for startup in startups %}
                        <div class="list-item-30">
                            <div class="list-item-main-block">
                                <h4 class="heading-semibold"> <a class="list-item-title" href="#">{{ startup.name }}</a></h2>
                                    <p class="text-light">{{ startup.description }}</p>
                                    <a class="list-item-link text-semibold" href="{{ startup.website }}">{{ startup.website }}</a>
                                    <div class="list-item-links">
                                        <a class="list-item-link text-semibold" href="#">{{ startup.country }}</a>

                                        {% for target_audience in startup.target_audience.all %}
                                        <a class="list-item-link text-semibold" href="#">{{ target_audience.audience }}</a>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="side-block">

            <!-- <div class="filters-container">
                <h3 class="heading-semibold">Investor Type</h3>
                <ul class="filter-list">
                    <li class="filter-item"><a class="text-light" href="#">Fintech</a></li>
                    <li class="filter-item"><a class="text-light" href="#">Medtech</a></li>
                    <li class="filter-item"><a class="text-light" href="#">Edutech</a></li>
                    <li class="filter-item"><a class="text-light" href="#">Cryptotech</a></li>
                    <li class="filter-item"><a class="text-light" href="#">Fintech</a></li>
                </ul>
            </div> -->


            {% get_all_stages as stages %}
            {% if stages %}
            <div class="filters-container">
                <h3 class="heading-semibold">Stages</h3>
                                 
                <ul class="filter-list">
                    {% for stage in stages %}
                    <li class="filter-item"><a class="text-light" href="#">{{ stage.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- <div class="filters-container">
                <h3 class="heading-semibold">Investment</h3>
                <ul class="filter-list">
                    <li class="filter-item"><a class="text-light" href="#">50k-100k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">0-10k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">10k-50k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">100k-500k</a></li>
                    <li class="filter-item"><a class="text-light" href="#">over 500k</a></li>
                </ul>
            </div> -->

        </div>
    </div>
</section>


{% endblock content %}